$header: #21333e;
$bg-business: #eef4ed;
$bg-network: #111117;
$light: white;
$dark-green: #058283;
$light-green: #daeced;
$grey-text: gray;
$clear-text: rgb(154, 171, 172);
$bg-input: #ececec;
$list: #19191f;